body {
  position: relative;
  text-align: center;
  font-family: Arial, sans-serif;
}
  a[href] {
    color: #115b5b;
    text-decoration: none;
    cursor: pointer;
  }
.options-section {
  background-color: #f5dadadd;;
  box-shadow: 0px 0px 3px #00000033;
  box-sizing: border-box;
  padding: 10px;
  background-clip: padding-box;
  height: 130px;
  margin: 0 auto;
}
.indicators-section {
    background-color: #dfe3fcb5;;
    box-shadow: 0px 0px 5px #00000033;
    box-sizing: border-box;
    padding: 10px;
    background-clip: padding-box;
    width: 30vw;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}

.product {
    width: 25%;
    box-shadow: 0px 0px 5px #00000033;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    width: 30vw;
    margin-top: 10px;
  }
  .product:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  .product-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }  
  .product .image{
    display: block;
    margin: 0 auto;
    width: 70%;
    height: auto;
    margin-bottom: 10px;
  }
  .product .details span{
    display: block;
    text-align: center;
    line-height: 1.5;
  }