body {
  position: relative;
  text-align: center;
  font-family: Arial, sans-serif;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://cdn.pixabay.com/photo/2023/03/14/00/12/store-7851105_960_720.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.2;
  z-index: -1; /* make sure the pseudo-element is behind the content */
}

  a[href] {
    color: #115b5b;
    text-decoration: none;
    cursor: pointer;
  }
.options-section {
  background-color: #f5dadadd;;
  box-shadow: 0px 0px 3px #00000033;
  box-sizing: border-box;
  padding: 10px;
  background-clip: padding-box;
  height: 130px;
  margin: 0 auto;
}
.indicators-section {
    background-color: #dfe3fce1;;
    box-shadow: 0px 0px 5px #00000033;
    box-sizing: border-box;
    padding: 10px;
    background-clip: padding-box;
    width: 30vw;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}

.product {
    width: 25%;
    box-shadow: 0px 0px 5px #00000033;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    width: 30vw;
    margin-top: 10px;
  }
  .product:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  .product-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }  
  .product-name {
    font-size: 17px;
  }
  .brand-name {
    font-size: 18px;
    font-weight: bold;
  }
  .product .image{
    display: block;
    margin: 0 auto;
    width: 85%;
    height: auto;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .product .details span{
    display: block;
    text-align: center;
    line-height: 1.5;
  }

  .add-fav input[type="checkbox"] {
    display: none;
  }
  .add-fav {
    font-size: 15px;
    color: #115b5b;
    display: block;
    text-align: center;
    line-height: 1.5;
  }
  .add-fav input:checked + i {
    color: red;
  }
  .add-fav i.heart {
    font-size: 20px;
    color: #115b5b;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
  }
  